.dontHaveReviews{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 30px;
    color: rgb(7, 9, 27);
    }
    
    .reviewsTitle{
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    }
    
    .reviewsList{
    list-style: none;
    }
    
    .reviewsParagraph{
    margin-bottom: 40px;
    }
    
    
    .reviewsAuthor{
    color: rgb(22, 23, 32);
    }