.myNavbar{
    height: 60px;
    padding-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px !important;
    background-color: rgb(71, 67, 67);
    }
    
    .myHome{
    color: rgb(253, 120, 3)!important;
    }
    
    
    